// Overide
// Google Font Mulish
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;800&display=swap');

$font-regular-24: normal 400 24px/32px 'Mulish', sans-serif;

$font-semi-bold-20: normal 600 20px/28px 'Mulish', sans-serif;
$font-semi-bold-22: normal 600 22px/27px 'Mulish', sans-serif;
$font-semi-bold-28: normal 600 28px/36px 'Mulish', sans-serif;

$font-bold-16: normal 700 16px/10px 'Mulish', sans-serif;
$font-bold-24: normal 700 24px/32px 'Mulish', sans-serif;
$font-bold-28: normal 700 28px/19px 'Mulish', sans-serif;
$font-bold-30: normal 700 30px/15px 'Mulish', sans-serif;

$font-extra-bold-18: normal 800 18px/50px 'Mulish', sans-serif;
$font-extra-bold-26: normal 800 26px/40px 'Mulish', sans-serif;
$font-extra-bold-28: normal 800 28px/36px 'Mulish', sans-serif;
$font-extra-bold-32: normal 800 32px/42px 'Mulish', sans-serif;
$font-extra-bold-30: normal 800 30px/38px 'Mulish', sans-serif;

$font-family-base: $font-regular-24;

:root {
	/* Colors: */
	--blue: #0084ff;
	--orange: #ff7b00;
	--lime: #bcff41;
	--white: #ffffff;
	--yellow: #fffc00;
	--dark-gray: #404040;
	--prim-blue: #0157ba;
	--teal: #25cad3;
	--snow-white: #eaf7ff;
	--red-organge: #ff6d00;
	--dark: #000000;
	--sky-blue: #eaf7ff;
}

$theme-colors: (
	'primary': #ff6d00,
	'danger': #ff4136,
);

//@import './node_modules/bootstrap/scss/bootstrap';

// Required
@import './node_modules/bootstrap/scss/functions';
@import './node_modules/bootstrap/scss/variables';
@import './node_modules/bootstrap/scss/mixins';

// Optional
// @import './node_modules/bootstrap/scss/reboot';
@import './node_modules/bootstrap/scss/type';
@import './node_modules/bootstrap/scss/list-group';
@import './node_modules/bootstrap/scss/images';
@import './node_modules/bootstrap/scss/buttons';
@import './node_modules/bootstrap/scss/grid';
@import './node_modules/bootstrap/scss/carousel';
@import './node_modules/bootstrap/scss/helpers';
@import './node_modules/bootstrap/scss/containers';
@import './node_modules/bootstrap/scss/bootstrap-utilities.scss';
@import './node_modules/bootstrap/scss/bootstrap-reboot.scss';

body {
	background-color: var(--white);
	font-family: 'Mulish', sans-serif;
	color: var(--dark);

	.btn {
		font: $font-bold-16;
		border-radius: 23px;
		color: var(--white);
	}
}

header {
	.logo {
		padding: 35px 0;
	}
	.cta-header {
		background-color: var(--yellow);
		height: 60px;

		.cta-text {
			font: $font-extra-bold-18;
			font-size: 14px;
			text-transform: uppercase;
			color: var(--prim-blue);
			padding-right: 6px;
		}

		.btn {
			padding: 12px;
			text-transform: uppercase;
		}

		@media screen and (min-width: 992px) {
			.cta-text {
				font-size: 18px;
			}
			.btn {
				width: 218px;
				padding: 15px;
			}
		}
	}
}

.hero {
	background: transparent url('/assets/images/BG-Azul.png') center no-repeat;
	padding: 50px 0;
	text-align: center;
	height: 714px;

	@media screen and (min-width: 992px) {
		background-image: image-set(
			url('/assets/images/Hero-Andres+Thumb.png') 1x,
			url('/assets/images/Hero-Andres+Thumb@2x.png') 2x
		);
		height: 580px;
	}

	.lead {
		font: $font-semi-bold-22;
		color: var(--white);
	}

	.h1 {
		font: $font-extra-bold-32;
		color: var(--yellow);
		text-transform: uppercase;
	}

	.hero-text {
		font: $font-semi-bold-20;
		color: var(--white);
	}

	.h2 {
		font: $font-extra-bold-26;
		color: var(--yellow);
		text-transform: uppercase;
	}

	.hero-video {
		padding: 0;

		iframe {
			height: 213px;
		}
	}

	.hero-button {
		margin-top: 15px;

		.btn {
			font: $font-bold-30;
			text-transform: uppercase;
			padding: 1rem 3rem;
			border-radius: 45px;
			box-shadow: 0px 15px 58px #00000038;
		}
	}
}

.call-outs {
	padding: 80px 0 65px 0;

	.col-lg-4 {
		padding: 0 50px;

		:nth-child(1) img {
			padding-top: 0;
		}
	}

	img {
		padding-top: 36px;
		padding-bottom: 24px;
	}

	.icon-headline {
		font: $font-extra-bold-30;
	}

	.icon-text {
		font: $font-regular-24;
		color: var(--dark-gray);

		b,
		strong {
			font-weight: 700;
		}
	}
}

.img-section {
	background-color: var(--sky-blue);
	padding: 60px 0;

	ul.carousel-indicators {
		li {
			width: 18px;
			height: 18px;
			border: 2px solid #576078;
			border-radius: 50%;
			margin: 0 9px;
		}
		li.active {
			background-color: #ff7600;
			border: none;
		}
	}

	.carousel-caption {
		text-align: start;
		top: 70%;
	}

	.closing-text {
		padding-top: 55px;
		font: $font-semi-bold-28;
		text-align: center;

		b,
		strong {
			color: var(--blue);
		}
	}
}
